@import "./variables";

.footer {
  align-items: center;
  background-color: $footerBackground;
  background: $footerBackgroundGradient;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;

  &__copyright {
    margin-left: 25px;
  }

  &__socials {
    margin-right: 25px;
  }

  &__link {
    margin-left: 15px;
  }
}
