@use "./variables" as vars;

.footer {
  background-color: vars.$footerBackground;
  background: vars.$footerBackgroundGradient;
  position: relative;
  z-index: 0;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1080px;
    padding: 15px 40px;
    z-index: 2;
  }

  &__curve {
    bottom: 99%;
    // height: 80px;
    height: clamp(60px, 8vw, 100px);
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;

    transform: scaleY(-1);
    transform-origin: center;
  }

  &__copyright {
    margin-left: 25px;
  }

  &__socials {
    margin-right: 25px;
  }

  &__link {
    margin-left: 15px;
  }
}
