.imageModal {
  position: fixed;
  inset: 0;
  z-index: 100;
  background: rgba(33, 33, 33, 0.55);

  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 1200px;
    height: 600px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}
