.imageModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  left: 0%;

  &__container {
    max-width: 1200px;

    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;

    border-radius: 12px;
    cursor: zoom-out;
  }
}
