@use "../variables" as vars;

@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    align-items: center;
    &__container {
      padding: 0;
      margin: 0 5px;
    }

    &__list--item {
      max-width: 310px;
    }

    &__img {
      max-height: 310px;
      max-width: 310px;
    }
  }
}
