@use "../variables" as vars;

@media screen and (max-width: 767px) {
  .about {
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 2rem;
    }
    &__p {
      font-size: 0.9rem;
    }

    &__container {
      margin: 0 5px 20px 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &__title--strenghts {
      font-size: 2rem;
    }

    &__list--item {
      max-width: 310px;
    }

    &__list--item__p {
      font-size: 0.85rem;
    }

    &__img {
      &--container {
        margin: 60px 5px 0 5px;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
