@use "../variables" as vars;

@media screen and (max-width: 767px) {
  .footer {
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    &__container {
      padding: 0 0 10px 0;
      flex-direction: column;
      margin: 0;
    }

    &__copyright {
      margin: 0;
    }
  }
}
