@use "../variables" as vars;

@media screen and (max-width: 767px) {
  .header {
    font-size: 0.9rem;
    width: 100%;
    &__container {
      padding: 0;
      flex-direction: column;
    }

    &__nav {
      margin: 0;
    }

    &__list {
      gap: 10px;
    }
  }
}
