@use "../variables" as vars;

.contact {
  display: flex;
  justify-content: center;

  &__container {
    margin: 60px 0;
    border: 4px solid vars.$accent-primary;
    border-radius: 50px;
  }

  &__title {
    font-size: 2.5rem;
    color: vars.$accent-primary;
    border-bottom: 4px solid vars.$accent-primary;
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  &__list {
    padding: 25px 25px;
    &--item {
      margin-bottom: 40px;

      &:hover .contact__link,
      &:hover .contact__icon,
      &:focus .contact__link,
      &:focus .contact__icon {
        fill: vars.$accent-hover;
        color: vars.$accent-hover;
      }
    }
  }

  &__link {
    transition: vars.$transition-basic;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__icon {
    width: 42px;
    height: 42px;
    margin-right: 7px;
    transition: vars.$transition-basic;

    &--linkedin {
      fill: #0a66c2;
    }

    &--email {
      fill: #34a853;
    }

    &--smartphone {
      fill: #a9a9a9;
    }
  }
}
