@use "../variables" as vars;

@media screen and (((min-width: 768px) and (max-width: 1079px))) {
  .about {
    margin: 0 25px;
    // flex-direction: column;

    &__container {
      max-width: 400px;
    }

    &__list {
      &--item {
        width: 330px;
      }
    }
  }
}
