@use "../variables" as vars;

@media screen and (((min-width: 768px) and (max-width: 1079px))) {
  .header {
    // max-width: 100vw !important;
    &__container {
      // max-width: 708px;
      margin: 0 auto;
      padding: 5px 0px;
    }
  }
}
