@use "../variables" as vars;

@media screen and (((min-width: 768px) and (max-width: 1079px))) {
  .home {
    overflow: hidden;
    max-width: 768px;
    &__hero {
      &__container {
        margin: 0 25px;
      }

      &__image {
        max-width: 322px;

        &-wrapper {
          height: auto;
          margin-bottom: 50px;
        }
      }
    }
    &__skills {
      &__list {
        max-width: 700px;
        > li {
          width: 100px;
          min-height: 100px;
        }
      }
      &-image {
        width: 60px;
        height: 60px;
      }
    }

    &__projects {
      &__item {
        width: 544px;
        height: auto;
      }

      &__image {
        width: 100%;
        max-height: 255px;
      }
    }
  }
}
