@use "../variables" as vars;

@media screen and (((min-width: 768px) and (max-width: 1079px))) {
  .projects {
    &__container {
      margin: 0 auto;
    }

    &__item {
      max-width: 644px;
    }
    &__list-container {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 0;
    }

    &__list-text {
      margin: 0 7px;
    }

    &__image {
      width: 100%;
      padding: 0;
      border-bottom-right-radius: 0;
      border-right: none;
      border-top-right-radius: 16px;
      border-bottom: 4px solid vars.$accent-soft;
    }
  }
}
